:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-color-primary: #212121;
  --bg-color-secondary: #424242;
  --bg-color: #d2d5db;
  --text-primary: wheat;
  --text-secondary: 212121;
  --rose-500: #f43f5e;
  --hr-line-offset: 15%;
  --hr-color: wheat;
}

/* Reset options */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Basic tags */
html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color-primary);
  overflow-x: hidden;
}

input {
  display: block;
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

p {
  text-align: left;
}

h1 {
  color: var(--text-primary);
  font-size: 3rem;
}

h2 {
  margin-bottom: 1rem;
  color: var(--text-primary);
  font-size: 2.5rem;
}

/* input[type="checkbox"] { */
/* transform: scale(1.5); */
/* } */
